@model ICollection<AuthenticationClientData>

@if (Model.Count == 0)
{
	<div class="alert-block">
		<p class="alert-info">Sorry! External authentication services doens't work or not configured. Please create local account.</p>
	</div>
}
else
{
	using (Html.BeginForm("ExternalLogin", "Account", new {ReturnUrl = ViewBag.ReturnUrl}))
	{
		@Html.AntiForgeryToken()
		<fieldset id="socialLoginList">
			<legend style="text-align: center">Log in using another service</legend>
			<div class="social">
				@foreach (AuthenticationClientData p in Model)
				{
					<button type="submit" class="circle @(p.AuthenticationClient.ProviderName=="facebook"?"facebook":p.AuthenticationClient.ProviderName=="twitter"?"twitter":"gplus")" name="provider" value="@p.AuthenticationClient.ProviderName" title="Log in using your @p.DisplayName account">
						@switch (p.AuthenticationClient.ProviderName)
						{
							case "facebook":
								<img src="~/Content/clean-canvas-bootstrap/img/face.png" alt="" />
								break;
							case "twitter":
								<img src="~/Content/clean-canvas-bootstrap/img/twt.png" alt="" />
								break;
							case "google":
								<img src="~/Content/clean-canvas-bootstrap/img/gplus.png" alt="" />
								break;
						}
					</button>
				}
			</div>
		</fieldset>
	}
}