@using VirtualAssistant.Web.Views.Home.Home
@{
	ViewBag.Title = Html.Encode(Home.Title);
}

<div class="page-content-container">
	<div class="container">
		<div class="row" style="line-height: 22px;">
		
			<h3>Что делает виртуального ассистента идеальным?</h3>
			<br/>
			<ul>
				<li>Профессиональность</li>
				<li>Конфиденциальность</li>
				<li>Ответственность</li>
				<li>Скорость</li>
				<li>Точность</li>
			</ul>

			<div class="row">
				Виртуальный ассистент будет вести ваши дела, выполнять весь спектр возможных задач, не требуя при этом рабочего места, месячного оклада и оплаты обедов.
			</div>
			<div class="row">
				Вы платите только за время, которое требуется ассистенту для выполнения поставленной задачи. Для контроля времени вам предоставляется полная детализация затраченного времени.
			</div>
			<div class="row">
				Профессиональность: задачи, которые заняли бы у вас длительное время, профессиональный ассистент, имеющий необходимые навыки и контакты, выполнит в кратчайшие сроки.
			</div>
			<div class="row">
				Конфиденциальность: вы можете быть уверены, что никакие ваши действия не станут достоянием ваших коллег, друзей, семьи: идеальный вариант для, например, поиска работы или выбора подарков.
			</div>
			<div class="row">
				Ответственность: ???
			</div>
			<div class="row">
				Скорость: обязанности и задачи виртуального ассистента строго ограничены, что позволяет выполнять ваши задания с максимальной скоростью и отдачей.  
			</div>
			<div class="row">
				Точность: ???
			</div>
			<div class="row">
				Нужно найти хороший тостер, няню, курорт на Фиджи, фотографа, серьги с бриллиантами, антиквара, щенка или кожаное кресло? Не знаете, откуда начать поиски? Вам поможет ассистент!
			</div>
			<div class="row">
				Некогда искать гостиницу на Самуи, заполнять анкету в посольство Мексики, арендовать сноуборд в Австрии, искать в интернете информацию о дельфинариях в Калифорнии? Поручите эти задачи ассистенту!  
			</div>
			<div class="row">
				Нужно заказать джинсы из США или угги из Австралии, найти квартиру во Франции, прочитать статью на зарубежном сайте, договориться о бутылке шампанского в номере отеля, написать немецкой письмо бабушке мужа, но вы не говорите на иностранных языках? Вам нужен  ассистент-переводчик!  
			</div>
			<div class="row">
				Не можете найти в интернете статьи о парадоксе Ришара, пользе или вреде мультивитаминов и свежевыжатых соков, о том, как правильно выбрать микроволновку или холодильник? рецепт настоящего австрийского штруделя, автора и название «той, книги, что я читал в детстве, на обложке был робот с лазерным ружьем», реферат по теории большого взрыва ? Доверьте поиск ассистенту! 
			</div>
		</div>
	</div>
</div>