@using VirtualAssistant.Web.Helpers
@{
	ViewBag.Title = "Home Page";
}
@section usage{
	<link rel="stylesheet" href="~/Content/clean-canvas-bootstrap/index.css">
}

@section featured {
    <section id="feature_slider" class="">
        <!-- 
            Each slide is composed by <img> and .info
            - .info's position is customized with css in index.css
            - each <img> parallax effect is declared by the following params inside its class:
            
            example: class="asset left-472 sp600 t120 z3"
            left-472 means left: -472px from the center
            sp600 is speed transition
            t120 is top to 120px
            z3 is z-index to 3
            Note: Maintain this order of params

            For the backgrounds, you can combine from the bgs folder :D
        -->
        <article class="slide" id="showcasing" style="background: url('/Content/clean-canvas-bootstrap/img/backgrounds/landscape.png') repeat-x top center;">
            <img class="asset left-30 sp600 t120 z1" src="/Content/clean-canvas-bootstrap/img/present222.jpg" />
            <div class="info">
                <h2>Hey Marina, this is the site I made for you!</h2>
            </div>
        </article>
	    <article class="slide" id="ideas" style="background: url('/Content/clean-canvas-bootstrap/img/backgrounds/aqua.jpg') repeat-x top center;">
		    <div class="info">
			    <h2>Look around, there are some interesting pages.</h2>
		    </div>
		    <img class="asset left-480 sp600 t260 z1" src="/Content/clean-canvas-bootstrap/img/slides/scene2/left.png" />
		    <img class="asset left-210 sp600 t213 z2" src="/Content/clean-canvas-bootstrap/img/slides/scene2/middle.png" />
		    <img class="asset left60 sp600 t260 z1" src="/Content/clean-canvas-bootstrap/img/slides/scene2/right.png" />
	    </article>
	    <article class="slide" id="tour" style="background: url('/Content/clean-canvas-bootstrap/img/backgrounds/color-splash.jpg') repeat-x top center;">
		    <img class="asset left-472 sp650 t210 z3" src="/Content/clean-canvas-bootstrap/img/slides/scene3/ipad.png" />
		    <img class="asset left-365 sp600 t270 z4" src="/Content/clean-canvas-bootstrap/img/slides/scene3/iphone.png" />
		    <img class="asset left-350 sp450 t135 z2" src="/Content/clean-canvas-bootstrap/img/slides/scene3/desktop.png" />
		    <img class="asset left-185 sp550 t220 z1" src="/Content/clean-canvas-bootstrap/img/slides/scene3/macbook.png" />
		    <div class="info">
			    <h2>Fully Responsive theme, should work on all devices</h2>
		    </div>
	    </article>
		<article class="slide" id="responsive" style="background: url('/Content/clean-canvas-bootstrap/img/backgrounds/indigo.jpg') repeat-x top center;">
            <img class="asset left-472 sp600 t120 z3" src="/Content/clean-canvas-bootstrap/img/slides/scene4/html5.png" />
            <img class="asset left-190 sp500 t120 z2" src="/Content/clean-canvas-bootstrap/img/slides/scene4/css3.png" />
            <div class="info">
	            <h2>
		            Html5 & CSS3 fully used.
		            I hope you like it X)
	            </h2>                
				<a href="#">TOUR THE SITE</a>
            </div>
        </article>   

    </section>
}
<div class="container">
	<div class="row">
		<h3>We suggest the following:</h3>
	</div>
	<div class="row">
		<div class="span4">
			<h2>First</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p><a class="btn" href="#">View details »</a></p>
			
			@Html.RenderCulture()
		</div>
		<div class="span4">
			<h2>Second</h2>
			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
				eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
				sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
				Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam 
				eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
			</p>
			<p><a class="btn" href="#">View details »</a></p>
		</div>
		<div class="span4">
			<h2>Third</h2>
			<p>
				Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
				Curabitur nec euismod risus. Nulla ornare suscipit nisl, ac sodales lectus. 
				Duis augue odio, tempor at suscipit non, dignissim sed mauris. Nunc convallis sagittis sollicitudin. 
				Proin varius quis odio a imperdiet. Nam lorem felis, malesuada vitae luctus in, pulvinar a lacus. 
				Nulla ut dolor arcu. Nulla auctor, sapien et luctus convallis, odio est congue libero, quis pharetra mi risus nec mauris. 
				Nullam consectetur nunc eu enim tempus venenatis. Aenean eget fringilla metus. 
			</p>
			<p><a class="btn" href="#">View details »</a></p>
		</div>
	</div>
</div>
