@{
	ViewBag.Title = "Home Page";
}
@section usage{
	<link rel="stylesheet" href="~/Content/clean-canvas-bootstrap/index.css">
}


@section featured {
	<section>
		<div class="container">
			<hgroup>
				<h1>@ViewBag.Title.</h1>
				<h2>@ViewBag.Message</h2>
			</hgroup>
			<p>
				Hello Marina, this is just empty web page for now. 
				<br/>
				We will put something usefull here
				as soon as we figure out what we need :)
			</p>
		</div>
	</section>
}
<div class="container">
	<div class="row">
		<h3>We suggest the following:</h3>
	</div>
	<div class="row">
		<div class="span4">
			<h2>First</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
				Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
				Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
			<p><a class="btn" href="#">View details »</a></p>
		</div>
		<div class="span4">
			<h2>Second</h2>
			<p>
				Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, 
				eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. 
				Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
				sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. 
				Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam 
				eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
			</p>
			<p><a class="btn" href="#">View details »</a></p>
		</div>
		<div class="span4">
			<h2>Third</h2>
			<p>
				Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; 
				Curabitur nec euismod risus. Nulla ornare suscipit nisl, ac sodales lectus. 
				Duis augue odio, tempor at suscipit non, dignissim sed mauris. Nunc convallis sagittis sollicitudin. 
				Proin varius quis odio a imperdiet. Nam lorem felis, malesuada vitae luctus in, pulvinar a lacus. 
				Nulla ut dolor arcu. Nulla auctor, sapien et luctus convallis, odio est congue libero, quis pharetra mi risus nec mauris. 
				Nullam consectetur nunc eu enim tempus venenatis. Aenean eget fringilla metus. 
			</p>
			<p><a class="btn" href="#">View details »</a></p>
		</div>
	</div>
</div>
