@{
	ViewBag.Title = "Pricing";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@section usage {
	<link rel="stylesheet" href="~/Content/clean-canvas-bootstrap/pricing.css" type="text/css" media="screen">
}
<div id="in_pricing">
	<div class="container">
		<div class="head">
			<h3>Call us, we might give you more options</h3>
			<h6>We have default packages right here:</h6>
		</div>

		<div class="row charts_wrapp">
			<!-- Plan Box -->
			<div class="span4">
				<div class="plan">
					<div class="wrapper">
						<h3>Lite</h3>
						<div class="price">
							<span class="dollar">$</span> 
							<span class="qty">35</span> 
							<span class="month">/month</span>
						</div>
						<div class="features">
							<p>
								<strong>10</strong>
								Shared Projects
							</p>
							<p>
								<strong>4</strong>
								Team Members
							</p>
							<p>
								<strong>10</strong>
								Storage
							</p>
						</div>
						<a class="order" href="#">ORDER NOW</a>
					</div>
				</div>
			</div>
			<!-- Plan Box -->
			<div class="span4 pro">
				<div class="plan">
					<div class="wrapper">
						<img class="ribbon" src="~/Content/clean-canvas-bootstrap/img/badge.png">
						<h3>Pro</h3>
						<div class="price">
							<span class="dollar">$</span> 
							<span class="qty">99</span> 
							<span class="month">/month</span>
						</div>
						<div class="features">
							<p>
								<strong>10</strong>
								Shared Projects
							</p>
							<p>
								<strong>25</strong>
								Team Members
							</p>
							<p>
								<strong>Unlimited</strong>
								Storage
							</p>
							<p>
								<strong>Plus </strong>
								Phone Support
							</p>
						</div>
						<a class="order" href="#">ORDER NOW</a>
					</div>
				</div>
			</div>
			<!-- Plan Box -->
			<div class="span4 standar">
				<div class="plan">
					<div class="wrapper">
						<h3>Standard</h3>
						<div class="price">
							<span class="dollar">$</span> 
							<span class="qty">65</span> 
							<span class="month">/month</span>
						</div>
						<div class="features">
							<p>
								<strong>10</strong>
								Shared Projects
							</p>
							<p>
								<strong>4</strong>
								Team Members
							</p>
							<p>
								<strong>10</strong>
								Storage
							</p>
						</div>
						<a class="order" href="#">ORDER NOW</a>
					</div>
				</div>
			</div>
		</div>

		<div class="start">
			<p>Start right now, no-risk, money back garaunteed! </p>
			<a href="#">Start Now!</a>
		</div>
	</div>
</div>
<!-- FAQs -->
<div id="faq">
	<div class="container">
		<div class="section_header">
			<h3>Frequently asked questions</h3>
		</div>

		<div class="row">
			<div class="span6 block">
				<div class="box">
					<p class="title">How long are your contracts?</p>
					<p class="answ">
						There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
				</div>
				<div class="box">
					<p class="title">How do i sign up?</p>
					<p class="answ">
						There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
				</div>
			</div>

			<div class="span6 block">
				<div class="box">
					<p class="title">What is meant by unlimited?</p>
					<p class="answ">
						There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
				</div>
				<div class="box">
					<p class="title">Is there a discount for yearly service?</p>
					<p class="answ">
						There are many variations of passages of Lorem Ipsum available, but the randomised words which don’t look even slightly believable. If you are anything embarrassing hidden in the middle of text.</p>
				</div>
			</div>
		</div>
	</div>
</div>